section {
    font-size: 25px;
    color: $color-primary;
    transition: slide-up fade 0.2s;
    background-image: url("https://cda.corbisier.fr/layout/img/slide/fond.jpg");
    background-repeat: no-repeat;
    background-size: cover;


    &::before {
        background-color: hsla(0, 0%, 100%, 0.7);
        content: " ";
        top: 0;
        left: 0;
        display: block;
        height: 100%;
        position: absolute;
        width: 100%;
        z-index: -10;
    }

    &::after {
        font-family: "Amaranth", sans-serif;
        font-weight: bold;
        font-size: 1.5rem;
        height: auto;
        background-color: hsla(212, 78%, 86%, 0.822);
        margin: 10px;
        padding: 0px 20px !important;
        border-radius: 20px 10px;
        box-shadow: 2px 2px 2px 2px #797979;
        z-index: 999;
    }


    pre {
        font-size: 20px;
        white-space: break-spaces;
        padding: 20px 50px;
    }

    code {
        font-size: 1.2rem;
        font-weight: bold;
        padding: 2px 15px;
    }

    ol,
    ul {
        list-style-position: outside;

        &>li {
            &:first-child {
                margin-top: 5px;
            }

            font-family: "Amaranth",
            sans-serif;
            font-size: 1.2rem;

            & ul {
                &>li {
                    font-weight: 400;
                    font-size: 0.7rem;

                    &::before {
                        margin-right: 10px;
                        content: " ";
                    }

                    &::marker {
                        display: inline-block;
                        font: normal normal normal 10px/1 FontAwesome;
                        font-size: inherit;
                        text-rendering: auto;
                        -webkit-font-smoothing: antialiased;
                        content: "\f017";
                        color: hsl(244, 47%, 29%);
                        transform: rotateX(45deg);
                    }
                }
            }
        }
    }

    ol,
    ul {
        margin: 0px;
    }

    &>ul,
    div>ul {
        margin-left: 20px;

        &>li {
            &::marker {
                display: inline-block;
                font: normal normal normal 14px/1 FontAwesome;
                font-size: 20px;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                content: "\f274   ";
                color: hsla(0, 100%, 9%, 0.637);
                text-shadow: 1px 1px 2px #9a9ba3;
            }

            &>ul {
                &>li {
                    &::marker {
                        display: inline-block;
                        font: normal normal normal 14px/1 FontAwesome;
                        font-size: 18px;
                        text-rendering: auto;
                        -webkit-font-smoothing: antialiased;
                        content: "\f017   ";
                        color: hsla(0, 100%, 9%, 0.637);
                        text-shadow: 1px 1px 2px #9a9ba3;
                    }
                }
            }
        }
    }

}

.abs {
    position: absolute;
}

.rel {
    position: relative;
}

.oval {
    width: 120px;
    height: 50px;
    border: 2px solid #f55757;
    border-radius: 12px / 24px;
    box-shadow: 2px 2px 5px #000, INSET 2px 2px 5px #000;
}

table {
    display: inline-block;
    background-color: #fff;
    box-shadow: 3px 3px 6px #000000;

    td,
    tr {
        border-width: 0px;
        width: min-content;
    }
}

@keyframes marp-transition-dissolve {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}