@use "sass:color";
@use "sass:math";

$test1: hsl(220, 100%, 16%);
$test2: hsl(29, 100%, 90%);
$code_color_primary: 220;
$code_color_secondary: 30;
$color-light: hsl($code_color_secondary, 100%, 94%);
$color-dark: hsl($code_color_primary, 18%, 33%);
$color-primary: hsl($code_color_primary, 65%, 16%);
$color-primary2: hsl($code_color_primary, 64%, 29%);
$color-primary3: hsl($code_color_primary, 60%, 37%);
$color-primary4: hsl($code_color_primary, 50%, 48%);
$color-secondary: hsl($code_color_secondary, 100%, 50%);
$color-secondary2: hsl($code_color_secondary, 64%, 29%);
$color-secondary3: hsl($code_color_secondary, 60%, 37%);
$color-secondary4: hsl($code_color_secondary, 50%, 48%);

@import url("https://fonts.bunny.net/css?family=Lato:400,900|Salsa|amaranth:400,400i,700,700i|azeret-mono:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Roboto+Mono:400,700&display=swap");

@mixin color-scheme($bg, $text, $highlight) {
  --color-background: #{$bg};
  --color-background-stripe: #{rgba($text, 0.1)};
  --color-foreground: #{$text};
  --color-dimmed: #{color.mix($text, $bg, 80%)};
  --color-highlight: #{$highlight};
}

$pid: 200px;
$pid_marg: 10px;
$pid_bottom: 20px;
$pid_top: calc(100% - calc($pid + calc($pid_bottom * 2)));
$pid_right: 200px;
$pid_duration: 2s;
$pid_delay: 1s;
$pid_duration_1: 3s;
$pid_delay_1: $pid_delay + $pid_duration;
$pid_duration_2: 2s;
$pid_delay_2: $pid_delay_1 + $pid_duration_1;